@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --vp-home-hero-name-color: blue;
} */
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #000;
  /* 2 */
}
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #e4e4e4, #a4a4a4);
  --vp-button-brand-bg: #b8b8b8;
  --vp-button-brand-hover-bg: #a4a4a4;
  --vp-c-brand: #a4a4a4;
  --vp-c-brand-light: #e4e4e4;
  --vp-c-brand-lighter: #f5f5f7;
}
.VPHomeHero .container{
  max-width: 960px !important;
  @apply pt-[30px] sm:pt-0
}
.VPHomeFeatures .container{
  max-width: 960px !important;
}
.VPHomeHero .text{
  @apply  text-gray-300;
}
.VPButton{
  @apply rounded-lg
}
::-webkit-scrollbar {
  @apply hidden
}
::-webkit-scrollbar-thumb {
  @apply hidden
}

.VPContent{
  width: screen;
  overflow-x: hidden;
}
.VPHome[data-v-d8beba3b]{
  padding-bottom: 20px;
}