@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --vp-c-brand-1: #858585;
  --vp-c-brand-2: #cbcbcb;
}
.VPContent{
  width: screen;
  overflow-x: hidden;
}
.VPSidebarItem .item .text{
  @apply line-clamp-1
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}