@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --vp-c-brand-1: #858585;
  --vp-c-brand-2: #cbcbcb;
}
.VPContent{
  width: screen;
  overflow-x: hidden;
}
.VPSidebarItem .item .text{
  @apply line-clamp-1
}
.VPNavScreenMenuGroupSection .link {
  @apply line-clamp-1
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.img-program-sdu-2022{
  @apply w-1/3 float-right  ml-2 sm:float-none sm:w-full
}

.VPNavBarTitle .title{
  font-family: 'Liu Jian Mao Cao';
  @apply text-[25px] sm:text-[30px] sm:-ml-[7px];
}