@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* @apply bg-[#6661] h-[20px] transition  duration-300 hidden */
  @apply hidden
}
::-webkit-scrollbar-thumb {
  /* @apply h-[45px]  active:bg-[#7773] bg-[#8882]  rounded-sm sm:hidden */
  @apply hidden
}

.VPContent{
  width: screen;
  overflow-x: hidden;
}

/* .img{
  @apply h-40 bg-white rounded-lg shadow-xl shrink-0;
  @apply hover:shadow-2xl duration-300 hover:scale-105
} */


.table_td1{
  @apply w-[100px] sm:w-[68px] p-2 pl-0 sm:p-0
}
.table_td2{
  @apply w-max p-2
}

#academic a{
  @apply text-purple-400 underline hover:text-purple-600
}
#academic{
  @apply sm:text-xs
}
.zone_table{
  @apply mt-2
}
/* .zone_table td{
  @apply border-gray-200 dark:border-white border-collapse border sm:border-0
} */
.zone_table td td{
  @apply border-0
}
.zone_ul{
  @apply pt-1
}
.zone_ul li{
  @apply line-clamp-1 hover:line-clamp-none
}
.zone_ul_left li{
  @apply float-left pr-2
}
.zone{
  @apply p-5 pb-0
}
.zone_title{
  @apply pt-2 font-bold
}
.follow_svg{
  @apply  text-black dark:text-white
}
.follow_svg_r{ 
  @apply w-[25px] h-[25px] m-[2px]  sm:w-[20px] sm:h-[20px] sm:m-[1px] follow_svg
}
.follow_svg_t{
  @apply w-[30px] h-[30px]  sm:w-[23px] sm:h-[23px] follow_svg
}

.prj_label{
  @apply line-clamp-1 hover:line-clamp-none
}
.prj_name{
  @apply line-clamp-1 hover:line-clamp-none
}
/* .prj_label{
  @apply line-clamp-1
}*/
.prj_info{
  @apply line-clamp-1 hover:line-clamp-none
} 
.VPHome[data-v-d8beba3b]{
  padding-bottom: 20px;
}