.link-wechat {
  background-color: #1AAD19  ; /* Hex color code */
}
.link-bilibili {
  background-color: #FB7299  ; /* Hex color code */
}
.link-steam {
  background: linear-gradient(0deg, #137daf, #0b1a33);
}
.link-leetcode {
  background-color: rgb(255, 255, 255); /* Hex color code */
  border: 1px solid;
}
.link-weibo {
  background-color: rgb(230, 22, 45); /* Hex color code */
}
h1{
  padding-top: 16px;
}
h2 a{
  color:#647eff
}